@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --font-geist-sans: "Geist", sans-serif;
    --font-geist-mono: "Geist Mono", monospace;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
}

@font-face {
    font-family: 'Geist';
    src: url('https://assets.vercel.com/raw/upload/v1587415301/fonts/2/Geist-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('https://assets.vercel.com/raw/upload/v1587415301/fonts/2/Geist-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('https://assets.vercel.com/raw/upload/v1587415301/fonts/2/GeistMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
